body {
  background-color: #131313;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

.container {
  background-color: #1a1a1a;
  padding: 20px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.5);
}

h1 {
  font-style: italic;
  color: #ff69b4;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #ff69b4;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0px 0px 10px #000000cc;
}

input[type="submit"], .btn-ver {
  background: linear-gradient(45deg, #ff66b2, #9d00ff); 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
}

input[type="submit"]:hover, .btn-ver:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #000000;
}
