body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.Pagina {
    margin-top: 50px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 20, 147, 0.7);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ff66b2;
    text-align: center;
}

table th {
    background-color: #ff66b2;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

table td {
    background-color: #222;
    color: white;
}

.button {
    background: linear-gradient(45deg, #ff66b2, #9d00ff); 
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff66b2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background-color: #ff69b4;
}
